.button {
  background-color: var(--color-3);
  color: var(--color-offwhite);
  font-weight: 700;
  /* padding: 1.75rem 3.5rem; */
  font-size: 18px;
  margin-right: 2rem;
  /* max-width: 12rem;
  max-height: 12rem; */
  border: none;
  padding: 2rem 5rem;
}
.cta {
  background-color: var(--color-2);
  color: var(--color-black);
}
