.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  height: 100vh;
}

.orientContent {
  display: flex;
  margin-top: 15rem;
  justify-content: space-between;
}

.orientText {
  display: flex;
  flex-direction: column;
  transform: translateY(1rem);
}

.buttonGroup {
  align-items: flex-end;
  display: flex;
  margin-right: 6.5rem;
  /* max-height: 5rem; */
  /* height: inherit; */
  /* margin-left: 35rem; */
}

.marginTop {
  margin-top: 15rem;
}

.Cityscape {
  /* transform: translateY(-37.5%) translateX(52.5%); */
  position: absolute;
  top: 0;
  right: -2.5rem;
}
.spacer {
  margin-top: 2rem;
}

.main {
  z-index: 3;
}
@media (max-width: 1800px) {
  .buttonGroup {
    margin-right: 10rem;
  }
}

@media screen and (max-width: 1650px) {
  .buttonGroup {
    margin-right: 4.7rem;
  }
}
@media screen and (max-width: 1600px) {
  .buttonGroup {
    margin-right: 4.7rem;
  }
  .orientContent {
    margin-top: 12.5rem;
  }
}
@media screen and (max-width: 1300px) {
  .buttonGroup {
    margin-right: -1.15rem;
  }
  .orientContent {
    margin-top: 13rem;
  }
}
@media screen and (max-width: 1000px) {
  .orientContent {
    margin-top: 13rem;
  }
}

@media screen and (max-width: 900px) {
  .buttonGroup {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 775px) {
  .buttonGroup {
    margin-right: 0rem;
  }
  .orientContent {
    justify-content: space-around;
    flex-direction: column;
    min-height: 60vh;
  }
}
