.Nav {
  padding: 0.75rem 0;
  font-family: "Miriam Libre", sans-serif;
  display: flex;
  justify-content: space-between;
  /* width: 32.5vw; */
  width: 25vw;
}

.NavLink {
  transition: all 0.2s;
  font-size: 16px;
  color: var(--color-offwhite);
}

.Active {
  color: var(--color-2);
}
