.paragraph {
  font-size: 32px;
  font-family: "Miriam Libre", sans-serif;
  line-height: 54px;
  letter-spacing: 2px;
  color: var(--color-offwhite);
  max-width: 30vw;
  margin: 0;
  min-width: 30vw;
}

.marginRight {
  margin-right: auto;
}

.small {
  max-width: 25vw;
}

.index {
}
@media screen and (max-width: 1800px) {
  .paragraph.index {
    line-height: 48px;
    font-size: 28px;
    /* max-width: 35vw; */
  }
}
@media screen and (max-width: 1600px) {
  .paragraph.index {
    line-height: 39px;
    font-size: 26px;
  }
}
@media screen and (max-width: 1500px) {
  .paragraph.index {
    /* line-height: 36px;
    font-size: 24px; */
    max-width: 40vw;
  }
}
@media screen and (max-width: 1300px) {
  .paragraph.index {
    line-height: 36px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1050px) {
  .paragraph.index {
    max-width: 45vw;
  }
}
@media screen and (max-width: 900px) {
  .paragraph.index {
    max-width: 51.75vw;
    line-height: 36px;
  }
}
@media screen and (max-width: 775px) {
  .paragraph.index {
    max-width: 90vw;
    font-size: 26px;
    line-height: 41px;
  }
}
@media screen and (max-width: 500px) {
  .paragraph.index {
    max-width: 95vw;
    font-size: 24px;
    line-height: 36px;
  }
}
@media screen and (max-width: 450px) {
  .paragraph.index {
    max-width: 95vw;
    font-size: 22px;
    line-height: 33px;
  }
}

@media screen and (max-width: 420px) {
  .paragraph.index {
    max-width: 95vw;
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 400px) {
  .paragraph.index {
    max-width: 95vw;
    font-size: 18px;
    line-height: 29px;
  }
}
